.icon {
    position: relative;
    background: #253456;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
  }
  
  .icon a {
    color: #000000;
  }
  
  .icon:hover a {
    color: #ffffff;
  }
  
  .facebook:hover {
    background: #1877f2;
    color: #ffffff;
  }
  
  .instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    color: #ffffff;
  }
  
  .tiktok:hover {
    background: #000000;
    color: #ffffff;
  }
  
  .youtube:hover {
    background: #cd201f;
    color: #ffffff;
  }
  